export(ci2estimate)
export(ci2p)
export(ci2se)
export(ci2z)
#export(deltaEB)
export(effectSizeReplicationSuccess)
export(effectSizeSignificance)
export(hMeanChiSq)
export(hMeanChiSqMu)
export(hMeanChiSqCI)
export(levelSceptical)
export(levelEquivalent)
export(p2z)
export(pBox)
export(pIntrinsic)
# export(plotRevBayes)
export(powerReplicationSuccess)
export(powerSignificance)
export(powerSignificanceInterim)
export(pReplicate)
export(predictionInterval)
export(pSceptical)
export(PPpSceptical)
# export(pScepticalMu)
export(pvalueBound)
export(Qtest)
#export(sampleSizePI)
#export(sampleSizePIwidth)
export(sampleSizeReplicationSuccess)
export(sampleSizeSignificance)
# export(scepticalCI)
export(T1EpSceptical)
export(thresholdIntrinsic)
export(z2p)
export(zSceptical)
importFrom("stats", "dnorm", "pnorm", "qchisq", "qnorm", "uniroot", "pchisq")
import("rootSolve")
